* {
    box-sizing: border-box;
}

body {
    background-color: #F4F4F4;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
}

/* Button Toggle Sidebar */
.toggle-sidebar {
    display: none;
    position: fixed;
    z-index: 3;
    width: 45px;
    height: 45px;
    padding: 0;
    top: 8px;
    right: 15px;
    justify-content: center;
    align-items: center;
    background-color: rgba(87, 147, 191, 0.75);
    border: none;
    border-radius: 4px;
}

.menu-icon-wrapper {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.menu-icon {
    position: relative;
    width: 30px;
    height: 5px;
    background-color: #fff;
    transition: background-color 0.2s ease-in;
}

.menu-icon::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 5px;
    background-color: #fff;
    left: 0;
    top: -10px;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 5px;
    background-color: #fff;
    left: 0;
    top: 10px;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon--active {
    background-color: transparent;
    transition: background-color 0.2s ease-in;
}

.menu-icon--active::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon--active::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.sidebar.sidebar-mobile--active {
    left: 0;
    transition: left 0.2s ease-in;
}

/* Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 15px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.main {
    max-width: 870px;
    margin-right: 30px;
}

.sidebar {
    min-width: 200px;
    max-width: 270px;
}

.card-holder {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Card */
.card-link {
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s ease-in;
    margin-bottom: 30px;
}

.card-link:hover {
    opacity: 0.8;
    transform: translateY(-3px);
}

.card {
    background-color: #fff;
    width: 270px;
}

.card__img {
    position: relative;
}

.card__badges {
    position: absolute;
    display: flex;
    top: 10px;
    left: 15px;
    right: 15px;
}

.card__badge:first-child {
    margin-right: 10px;
}

.card__badge {
    padding: 0 10px;
    height: 22px;
    font-size: 14px;
    line-height: 23px;
    color: #000000;
    border-radius: 4px;
    background-color: #777777;
}

.card__badge-yellow {
    background: #FFCF26;
}

.card__badge-green {
    background: #11BE75;
    color: #fff;
}

.card__content {
    padding: 15px 15px 20px;
}

.card__title {
    margin: 0 0 10px;
    font-weight: bold;
    font-size: 18px;
    color: #000;
}

.card__term {
    margin-bottom: 10px;
    font-size: 14px;
    color: #000;
}

.card__metro {
    margin-bottom: 10px;
    font-size: 14px;
    color: #000;
}

.card__metro::before {
    content: "";
    width: 16px;
    height: 11px;
    margin-right: 10px;
    display: inline-block;
    background-image: url("./../img/icons/metro.svg");
    background-repeat: no-repeat;
    background-size: initial;
}

.card__address {
    font-size: 14px;
    color: #777777;
}

.card-link.card-link--hidden {
    display: none;
}

/* Button more */

.btn-more {
    font-family: inherit;
    width: 100%;
    height: 80px;
    background-color: #E5E5E5;
    border-radius: 4px;
    color: #4290C9;
    border: none;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: all 0.2s ease-in;
}

.btn-more:hover {
    background-color: #dcdcdc;
    cursor: pointer;
}

.btn-more img {
    margin-right: 10px;
}

/* Sidebar */

/* Widget */

.widget {
    margin-bottom: 33px;
}

.widget.widget--margin-bottom {
    margin-bottom: 30px;
}

.widget__title {
    padding-right: 20px;
    min-height: 24px;
    vertical-align: bottom;
    font-family: Roboto, sans-serif;
    font-style: normal;
    position: relative;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    color: #000;
    margin-bottom: 17px;
    cursor: pointer;
}

.widget__title::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url("./../img/icons/Shape.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.widget__title.widget__title--toggle::after {
    transform: rotate(180deg);
}

.widget__body.widget__body--hidden {
    display: none;
}

/* Distance */

.distance {
    border: 1px solid #D6D6D6;
    border-radius: 4px;
}

.distance__row {
    display: flex;
    position: relative;
}

.distance__row:last-child {
    border-top: 1px solid #D6D6D6;
}

.distance__btn {
    display: flex;
    flex-grow: 1;
    height: 48px;
    padding: 0 6px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    color: #3C3C3C;;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: inherit;
}

.distance__row:last-child .distance__btn {
    font-size: 16px;
    line-height: 19px;
}

.distance__btn:hover {
    background-color: #e7e7e7;
}

.distance__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    appearance: none;
}

.distance__checkbox:checked + .distance__btn {
    background-color: #FFCF26;
}

.distance__checkbox:checked + .distance__btn:hover {
    background-color: #f4c430;
}

/* //Distance */

/* Radio */

.radio {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
}

.radio__real {
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
    appearance: none;
}

.radio__fake {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 1px solid #777777;
    margin-right: 10px;
}

.radio__real:checked + .radio__fake {
    background-color: #FFE074;
}

.radio__real:checked + .radio__fake::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    content: "";
    transform: translate(-50%, -50%);
    background-color: #3C3C3C;
    border-radius: 50%;
}

.radio__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: #3C3C3C;
}

.radio__real:checked ~ .radio__title {
    font-size: 16px;
    font-weight: 500;
}

/* Additional options */
.additional-options {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
}

.additional-options[data-option-hidden='hidden'] {
    display: none;
}

.additional-options__real {
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
    appearance: none;
}

.additional-options__fake {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #777777;
    border-radius: 2px;
    margin-right: 10px;
}

.additional-options__real:checked + .additional-options__fake {
    background-color: #FFE074;
}

.additional-options__real:checked + .additional-options__fake::before {
    content: "";
    width: 18px;
    height: 14px;
    background-image: url("./../img/icons/check.svg");
    position: absolute;
    left: 50%;
    top: 50%;
    background-size: initial;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-position: center;
}

.additional-options__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: #3C3C3C;
}

.additional-options__real:checked ~ .additional-options__title {
    font-size: 16px;
    font-weight: 500;
}

.widget__btn-show-hidden {
    padding: 0;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    color: #4290C9;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.widget__btn-show-hidden:hover {
    text-decoration: underline;
}

/* Toggle */
.toggle {
    position: relative;
    cursor: pointer;
}

.toggle__real {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    appearance: none;
}

.toggle__fake {
    position: relative;
    display: inline-block;
    width: 37px;
    height: 20px;
    background: #C4C4C4;
    border-radius: 10px;
    vertical-align: sub;
    margin-right: 7px;
}

.toggle__fake::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    background-color: #3C3C3C;
    transition: left 0.2s ease-in;
}

.toggle__real:checked + .toggle__fake {
    background-color: #FFE074;
}

.toggle__real:checked ~ .toggle__title {
    font-size: 16px;
    font-weight: 500;
}

.toggle__real:checked + .toggle__fake::before {
    left: 19px;
}

.toggle__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: #3C3C3C;
}

/* Form buttons */
.form__btn {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    background-color: transparent;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    text-align: center;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    cursor: pointer;
    color: #3C3C3C;
    transition: background-color 0.2s ease-in;
}

.form__btn > img {
    display: inline-block;
    margin-right: 6px;
    vertical-align: bottom;

}

.form__btn:hover {
    background-color: #e7e7e7;
}

.form__btn--submit {
    background-color: #FFCF26;
    color: #000000;
    border: none;
}

.form__btn--submit:hover {
    background-color: #f4c430;
}

@media (max-width: 1129px) {
    .container {
        max-width: 900px;
    }

    .main {
        max-width: 570px;
    }
}

@media (max-width: 829px) {
    .toggle-sidebar {
        display: flex;
    }

    .container {
        max-width: 600px;
    }

    .main {
        margin-right: 0;
    }

    .sidebar {
        width: 220px;
        padding: 10px 10px 0;
        position: fixed;
        top: 0;
        bottom: 0;
        left: -240px;
        overflow-y: auto;
        background-color: #ffffff;
        box-shadow: 0 0 15px rgba(86, 79, 79, 0.78);
        transition: left 0.2s ease-in;
    }
}

@media (max-width: 599px) {
    .main {
        width: 100%;
    }
    .card-holder {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .card-link {
        width: 100%;
    }

    .card {
        width: 100%;
        display: flex;
    }
}

@media (max-width: 459px) {
    .container {
        min-width: 300px;
    }

    .card-link {
        width: initial;
    }

    .card {
        width: 270px;
        display: block;
    }
}

