* {
    box-sizing: border-box;
}

body {
    background-color: #F4F4F4;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 60px 0;
}

.row {
    display: flex;
    justify-content: space-between;
}

.main {
    width: 870px;
}

.sidebar {
    width: 270px;
}

.card-holder {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Card */

.card-link {
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s ease-in;
    margin-bottom: 30px;
}

.card-link:hover {
    opacity: 0.8;
    transform: translateY(-3px);
}

.card {
    background-color: #fff;
    width: 270px;
}

.card__img {
    position: relative;
}

.card__badges {
    position: absolute;
    display: flex;
    top: 10px;
    left: 15px;
    right: 15px;
}

.card__badge:first-child {
    margin-right: 10px;
}

.card__badge {
    padding: 0 10px;
    height: 22px;
    font-size: 14px;
    line-height: 23px;
    color: #000000;
    border-radius: 4px;
    background-color: #777777;
}

.card__badge-yellow {
    background: #FFCF26;
}

.card__badge-green {
    background: #11BE75;
    color: #fff;
}

.card__content {
    padding: 15px 15px 20px;
}

.card__title {
    margin: 0 0 10px;
    font-weight: bold;
    font-size: 18px;
    color: #000;
}

.card__term {
    margin-bottom: 10px;
    font-size: 14px;
    color: #000;
}

.card__metro {
    margin-bottom: 10px;
    font-size: 14px;
    color: #000;
}

.card__metro::before {
    content: "";
    width: 16px;
    height: 11px;
    margin-right: 10px;
    display: inline-block;
    background-image: url("./../img/icons/metro.svg");
    background-repeat: no-repeat;
    background-size: initial;
}

.card__address {
    font-size: 14px;
    color: #777777;
}


/* Button more */

.btn-more {
    font-family: inherit;
    width: 100%;
    height: 80px;
    background-color: #E5E5E5;
    border-radius: 4px;
    color: #4290C9;
    border: none;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 21px;
    transition: all 0.2s ease-in;
}

.btn-more:hover {
    background-color: #dcdcdc;
    cursor: pointer;
}

.btn-more img {
    margin-right: 10px;
    vertical-align: bottom;
}

/* Widget */

.widget {

}

.widget__title {
    position: relative;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.16;
    color: #000;
    margin-bottom: 20px;
}

.widget__title::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url("./../img/icons/Shape.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.widget__body {

}

.distance {
    border: 1px solid #D6D6D6;
    border-radius: 4px;
}

.distance__row {
    display: flex;
}

.distance__row:last-child {
    border-top: 1px solid #D6D6D6;
}

.distance__btn {
    flex-grow: 1;
    height: 50px;
    padding: 0 15px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #3C3C3C;;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: inherit;
}

.distance__btn:last-child {
    font-size: 16px;
    line-height: 19px;
}

.distance__btn:hover {
    background-color: #ffe798;
}

.distance__btn--active {
    background-color: #FFCF26;
}

.distance__btn--active:hover {
    background-color: #f4c430;
}